
@model UsModel
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User</h2>



<div id="AddUsers">

    <button class="btn btn-info" type="button" id="addUser"
            onclick="location.href='@Url.Action("Index", "AddUser")'">Add User</button>
</div>
<hr />
<div id="UsersList">
    <table style="width:45%">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Day of BDay</th>
            <th>Age</th>
        </tr>
        @if (Model != null)
        {
            if (Model.Users != null)
            {
                foreach (var item in Model.Users)
                {
                    <tr>              
                        <td>@Html.ActionLink(
                                "Del",
                                "Del",                         
                                "User",        
                                new { item.Id },        
                                new { @class = "btn btn-info" }) 
                        </td>              
                        <td>@item.Name</td>
                        <td>@item.BDay</td>
                        <td>@item.Age</td>
                    </tr>
                }
            }
        }
    </table>
</div>




    